body {
    color: rgb(255, 255, 255);
    background-color: darkseagreen;
    text-align: center;
}

h1 {
    font-size: 80px;
    margin: 10px;
    letter-spacing: 3px;
}

p {
    font-size: 40px;
    margin: 10px;
}